
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCVV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>

    <header>
    
        <div class="fondo">
                <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="Imagen 1">
                <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="Imagen 2">
                <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="Imagen 3">
           
        </div>
        
        <div class="head">
            <img class="logo" src="{{ url_for('static', filename='img/logo_blanco.png') }}" alt="aloxd" >
            <div class="nav">
                <a href="">     Inicio</a>
                <a href=""> Departamentos</a>
                <a href=""> Contacto</a>
            </div>
        </div>

        <div class="h-body">
            <button class="h-rows">
                <i class="bi bi-arrow-left"></i></button>
            
            <div class="main">
                <h1>¿BUSCAS ALOJAMIENTO EN ANTOFAGASTA? </h1>
                <h3>Reserva ahora, en cómodos departamentos en 
                    excelente ubicación, totalmente equipados.</h3>
                    <div class="bt-c"><button> <i class="bi bi-whatsapp"></i> Contactanos </button></div>
                <div class="bt-d"><button><i class="bi bi-bookmark"></i> Ver Departamentos</button></div>

                
            </div>
            <button class="h-rows">
                <i class="bi bi-arrow-right"></i></button>
            
            
        </div>
           
    </header>
<!-- Fin Header  -->
    <main>
        <section>
            <h1>Todo lo que Necesitas</h1>
            
            <li>Especial para trabajadores y 
                turistas en general</li>
            <li>Buena ubicación</li>
            <li>Hermosas vistas</li>
            <li>Calidad mobiliario y limpieza</li>
            <li>Sectores tranquilos y seguros</li>
            <li>Internet Wi-Fi</li>
            <li>Económicos</li>
            <BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR><BR></BR></BR>
        </section>
    </main>


    <script>
        const fondo = document.querySelector('.fondo');
        const numimagenes = document.querySelectorAll('.fondo img').length;
        const tiempoCambio = 7000; // Ajusta según tus necesidades
        let diapo = 0;
        console.log(diapo);
    
        setInterval(() => {
            diapo++;
            if(diapo > numimagenes-1){
                diapo = 0;
            }
            fondo.style.transform = `translateX(-${diapo*100}%)`;
        }, tiempoCambio);
    </script>
    
</body>
</html>