*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

header  {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
    width: 100%;
    margin: 0;
    height: 500px;
    box-sizing: border-box;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.238);
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow-x: hidden; */
    border-bottom: 4px  outset rgba(0, 0, 0, 0.585);
    border-radius: 0 0 5px 5px;
}



.fondo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 1s ease;
    display: flex;
    /* flex-wrap: nowrap; */

}

.fondo img {
    flex: 1 0 auto;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.logo{

    margin: 0 0px 0 10px; 
    
    height: 32px;
    text-shadow: 0 0 100px rgba(0, 0, 0)
}
.head{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    height: 32px;

}
.nav{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.245); */
    /* border-radius: 0 0 10px 40px; */
}
.nav a{
    text-decoration: none;
    box-sizing: border-box;
    color:aliceblue;
    font-size: 20px;
    padding: 0px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.022);
    box-shadow: 0 0 5px rgba(240, 248, 255, 0.348);
    transition: background-color 0.4s ease-in-out, 
    color 0.4s ease-in-out;
}
.nav a:hover{
    background-color: rgba(255, 255, 255, 0.766);
    color: black;
}
.h-body{
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgba(0, 255, 255, 0);
    box-sizing: border-box;
    gap: 20px;
    grid-template-rows: 1fr;  
}
.h-rows{
    background-color: rgba(0, 0, 0, 0.129);
    display: flex;
    align-items: center;
    color: aliceblue;
    border: 0;
    transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.h-rows:hover{
    background-color: rgba(255, 255, 255, 0.355);
    color: black;
}
.main{
    padding: 25px 0 0 0;
    height: 100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    color:aliceblue;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}
.bt-c button{
    background-color: rgb(46, 206, 92) ;
    padding: 14px 6px;
    font-size: 17px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 200px;
    min-width:150px;
    border: 0;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(240, 248, 255, 0.39);
    transition: box-shadow 0.4s ease-in-out,
    transform 0.3s ease-in-out,
    color 0.5s ease;
}

.bt-c button:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.1) rotate(1deg); 
    color: rgb(255, 255, 255);
}
.bt-d button{
    background-color: rgb(120, 20, 227) ;
    padding: 14px 6px;
    font-size: 17px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 200px;
    min-width:150px;
    border: 0;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(240, 248, 255, 0.39);
    transition: box-shadow 0.4s ease-in-out,
    transform 0.3s ease-in-out,
    color 0.5s ease;
}

.bt-d button:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.1) rotate(-1deg); 
    color: rgb(255, 255, 255);
}

section {

    width: 80%; /* Ancho del section */
    margin: 20px auto 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}